body {
  background-color: #002f9d;
  min-height: 100vh;
}



::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #ddd;
  outline: 1px solid transparent !important;
  border-radius: 1rem;
}

.text-small {
  font-size: 0.9rem;
}

.messages-box,
.chat-box {
  height: 650px;
  overflow-y: scroll;
}



input::placeholder {
  font-size: 0.9rem;
  color: #999;
}

/* navbar */
.navbar {
  background: #002f9d;
}

.chat-box {
  background-color: #f1f1f1 !important;
}

.recent {
  background-color: #2d2e33 !important;
  color: white;
}

.list-group-item.active {
  background-image: linear-gradient(90deg,
      #4666f0 10%,
      #409de2 30%,
      #4ebeda 60%);
  /* background-color: #DC3545; */
  border-color: #2d2e33;
}

.receiver {
  /* background-image: linear-gradient(90deg, #EE5D53 10%, #ED5165 30%, #DE3964 60%) !important; */
  background-image: linear-gradient(90deg,
      #4666f0 10%,
      #409de2 30%,
      #4ebeda 60%) !important;
  border: 0.5px solid #002f9d !important;
  border-radius: 15px 50px 30px !important;
}

.rounded {
  border: 0.5px solid lightgrey !important;
  border-radius: 15px 50px 30px !important;
  box-shadow: 4px 4px #dcdcdc !important;
}

/* mobile and tablet view btns till a min width of 992px -the buttons are not displayed */
@media only screen and (min-width: 992px) {
  @media only screen and (min-width: 768px) {
    #close {
      display: none;
    }

    #online {
      display: none;
    }

    #online-close {
      display: none;
    }
  }
}

#button-addon2 {
  background-image: linear-gradient(90deg,
      #4666f0 10%,
      #409de2 30%,
      #4ebeda 60%);
}

.chat-username {
  background-image: linear-gradient(90deg,
      #4666f0 10%,
      #409de2 30%,
      #4ebeda 60%);
  padding-left: 20px !important;
  padding-top: 5px;
  padding-bottom: 5px;

}

/* modal */
.modal-header {
  background-image: linear-gradient(90deg,
      #4666f0 10%,
      #409de2 30%,
      #4ebeda 60%);
  color: white;
}

/* section 1 border to remove the gap */
.section1-border {
  border-bottom: 15.6px solid #2d2e33;
}

/* section3 */
#section3 {
  padding-bottom: 23px !important;
}